In [29]:
# requests -> HTTP통신

import requests
response =requests.get('http://api.kcisa.kr/openapi/service/rest/meta16/getkobis04',
                      params={'serviceKey':'8461d5ef-4cb1-4cdc-9370-78f41e37fb63',
                             'numOfRows':'2000',
                             'pageNo':'1'},
                      headers = {'Accept':'accept: application/json'})
print(response.status_code)

200

In [21]:
import json
response.json()
title = [i['title'] for i in response.json()['response']['body']['items']['item']]
createD = [i['createdDate'] for i in response.json()['response']['body']['items']['item']]
category = [i['subjectCategory'] for i in response.json()['response']['body']['items']['item']]
creator = [i['creator'] for i in response.json()['response']['body']['items']['item']]

In [22]:
import pandas as pd
data = {'createDate':createD,
        'category':category,
        'creator':creator}
index = title
df = pd.DataFrame(data,index)

In [23]:
df

             createDate    category creator
늦더위                2010         드라마     누리집
늦봄                 2017         드라마     누리집
늦어도 그날까지           1969        None     누리집
늦여름                2001        None     누리집
늦여름                2012         드라마     누리집
...                 ...         ...     ...
레이지 헤이지 크레이지       2015  멜로/로맨스,드라마     누리집
레이지                1993         드라마     누리집
레이지                1997   액션,범죄,스릴러     누리집
레이지                2009         드라마     누리집
레이징 빅터 바가스         2002  드라마,멜로/로맨스     누리집

[2000 rows x 3 columns]

In [24]:
df.to_csv("datas/movie.csv")

NameError: name 'sns' is not defined