In [13]:
# requests -> HTTP통신

import requests
response =requests.get('http://api.kcisa.kr/openapi/service/rest/meta16/getkobis04',
                      params={'serviceKey':'8461d5ef-4cb1-4cdc-9370-78f41e37fb63',
                             'numOfRows':'100',
                             'pageNo':'1'},
                      headers = {'Accept':'accept: application/json'})
print(response.status_code)

200

In [21]:
import json
response.json()
title = [i['title'] for i in response.json()['response']['body']['items']['item']]
createD = [i['createdDate'] for i in response.json()['response']['body']['items']['item']]
category = [i['subjectCategory'] for i in response.json()['response']['body']['items']['item']]
creator = [i['creator'] for i in response.json()['response']['body']['items']['item']]

In [24]:
import pandas as pd
data = {'createDate':createD,
        'category':category,
        'creator':creator}
index = title
df = pd.DataFrame(data,index)

In [29]:
df[:].notnull()

          createDate  category  creator
늦더위             True      True     True
늦봄              True      True     True
늦어도 그날까지        True     False     True
늦여름             True     False     True
늦여름             True      True     True
...              ...       ...      ...
대추리에 살다         True      True     True
대춘향전            True      True     True
대취협             True      True     True
대탈옥             True      True     True
대탈주             True      True     True

[100 rows x 3 columns]